body {
    background-color: #555;
}

.calculator {
    display: block;
    margin: 30px auto;
    width: 300px;
    height: 445px;
    border: 1px outset #988044;
    background: #d7c085;
}

.title {
    height: 30px;
    margin: 24px 24px 5px 24px;
    text-align: center;
    font-size: 1em;
    letter-spacing: 0.3em;
    font-variant: small-caps;
    color: #5f6987;
}

.output {
    display: block;
    text-align: right;
    vertical-align: middle;
    width: 234px;
    height: 82px;
    margin: 0 24px 5px 24px;
}

#resultsOutput {
    font-size: 2.2em;
    vertical-align: middle;
    height: 51px;
    padding-right: 0;
}

#equationOutput {
    font-size: 1em;
    vertical-align: middle;
    color: #555;
    height: 31px;
    padding-right: 2px;
}

.normalBtn {
    display: inline-block;
    width: 51px;
    height: 45px;
    margin: 5px 10px 5px 24px;
    /*border: 1px outset;*/
    font-size: 1.25em;
}

.normalBtn + .normalBtn {
    margin-left: 0;
}

div .normalBtn:last-of-type {
    margin-right: 26px;
}

.wideBtn {
    display: inline-block;
    width: 115px;
    height: 45px;
    margin: 5px 24px 5px 0px;
    /*border: 1px outset;*/
    font-size: 1.25em;
}

.normalBtn:active,
.wideBtn:active {
    border: none;
}
